@{
    ViewBag.Title = "Coupon";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IEnumerable<DepartMentStore.Models.Coupon>
}

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Organic Information</p>
                        <h1>Coupon</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->
    <!-- latest news -->
    <div class="latest-news mt-150 mb-150">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="single-latest-news">
                            <a href="single-news.html"><div class="latest-news-bg" style="background-image:url(@item.Image)"></div></a>
                            <div class="news-text-box">
                                <h3><a href="single-news.html">Mã ưu đãi @item.CouponCode</a></h3>
                                <p class="blog-meta">
                                    <span class="author"><i class="fas fa-user"></i>Discount: @item.DiscountPercentage</span>
                                    <span class="date"><i class="fas fa-calendar"></i>@item.ExpiryDate</span>
                                </p>
                                <p class="excerpt">@item.Description</p>
                                <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                }

            </div>


        </div>
    </div>
    <!-- end latest news -->
