﻿@model IEnumerable<DepartMentStore.Models.Comment>
@{
    ViewBag.Title = "ListProducts";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<head>
    <style>
        <style >
        .table {
            border-collapse: collapse;
            width: 100%;
        }

        .table th, .table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            line-height: 1.5;
        }
        .table th {
            background-color: #f8f8f8; /* Màu nền cho tiêu đề bảng */
        }
        
        .table tr:hover {
            background-color: #f5f5f5;
        }

        /* Điều chỉnh kích thước của cột Mã sản phẩm */
        .table th:first-child,
        .table td:first-child {
            width: 10%;
        }

        /* Điều chỉnh kích thước của cột nút button */
        .btn {
            padding: 5px 8px; /* Adjust padding of the button */
            font-size: 11px; /* Adjust font size of the button */
            margin-bottom: 5px;
            border-radius: 5px;
            display: inline-block; /* Make the buttons inline-block */
            width: 70px; /* Set a fixed width for both buttons */
            height: 30px;
            text-align: center; /* Center the text horizontally */
        }

        .edit-btn {
            background-color: blue;
            color: white;
        }

        .delete-btn {
            background-color: red;
            color: white;
        }

        .btn a {
            text-decoration: none;
            color: white;
            display: inline-block; /* Ensure <a> tag takes up the full width of the button */
            width: 100%; /* Ensure the <a> tag takes up the full width of the button */
        }

        .CanGiua {
            margin-left: 40px;
        }
    </style>

    </style>
</head>
<table class="table CanGiua">

    <tr>

        <th>
            Mã bình luận
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Ngày bình luận
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Nội dung bình luận
        </th>
      

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
           
            <td>
                <button class="btn edit-btn">
                    <a href="@Url.Action("EditComment", "Admin", new { id = item.Comment_id })"> Edit</a>
                </button>
                <button class="btn delete-btn">
                    <a href="@Url.Action("DeleteComment", "Admin", new { id = item.Comment_id })"> Delete</a>
                </button>
               
            </td>
        </tr>
    }
    <tr>
        <td>
            <button class="btn btn-block btn-lg btn-gradient-primary mt-4">
                <a href="@Url.Action("Index", "Admin")">Back</a>

            </button>
        </td>
    </tr>
</table>




